DATABASE_URL=postgresql://user:password@ep-example.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_SECRET_ID=fund-price-forecast/prod/database-url
FUND_CODE=253266
FUND_SOURCE_URL=https://www.am.mufg.jp/mukamapi/fund_details/?fund_cd=253266
SP500_SOURCE_URL=https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=10d&includePrePost=false&events=div%2Csplits
SP500_SYMBOL=^GSPC
MUFG_FX_SOURCE_URL=https://www.murc-kawasesouba.jp/fx/index.php
