DATABASE_URL=postgresql://user:password@ep-example.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_SECRET_ID=fund-price-forecast/prod/database-url
FUND_CODE=253266
FUND_SOURCE_URL=https://emaxis.am.mufg.jp/fund/253266.html
SP500_SOURCE_URL=https://finance.yahoo.co.jp/quote/%5EGSPC
MUFG_FX_SOURCE_URL=https://www.murc-kawasesouba.jp/fx/index.php
